$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1440px;

$black: #101010;
$blackBrown: #232323;
$darkGrey: #868686;
$smokyWhite: #F3F3F3;
$white: #FFFFFF;

$lightGreen: #9EFFBF;
$purple: #7941A7;
$lilac: #E2BEFF;
$denimBlue: #1059C8;
$gainsborough: #E8E8E8;
