@import url('https://fonts.cdnfonts.com/css/tt-commons');

body, ul, li, p, h1, h3, h4 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1217px;
    margin: auto;
}